# DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Python version management
.python-version

# VS Code settings
.vscode/

# macOS
.DS_Store

# Testing and coverage
*.cover
coverage.*
.cache
nosetests.xml
coverage.xml
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.pytest_cache/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# pipenv
Pipfile.lock

# poetry
poetry.lock
pyproject.toml

# PDM
__pypackages__/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyright
pyrightconfig.json

# IDEs
.idea/

# UV lock
uv.lock
